<h1>Welcome to CSE Motors!</h1>
<div class="hero">
    <img src="images/vehicles/delorean.jpg" alt="Hero Image">
    <div id="delorean-ad"></div>
</div>

<div class="carInfo">
    <div id="upgrades"></div>
    <div id="reviews"></div>
</div>
