/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.navigation {
}
.navigation ul{
  /* grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr; */
  /* width: 100%; */
  display: flex;
  list-style: none;
}

.navigation a {
    /* display: block; */
    padding: .85rem 10px;
    color: white;
    background-color: rgb(5, 5, 56);
    text-decoration: none;
}

.add {
  float: left;
  position: absolute;
  top: 230px;
}


#tools {
  float: right;
}

.addButton {
  padding: 5px;
}

body {
  background-color: aqua;
  background-size: cover;
}
#wrapper {
  padding: 25px;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: aliceblue;
}
.hero img {
  width: 100%;
  height: 100%;
}